/* .popup {
  min-height: 275px;
  opacity: 0;
  display: none;
}

.popup:hover {
  opacity: 1;
  display: block;
}

div:has(.autoComplete):hover+div div.popup {
  opacity: 1;
  display: block;
}

.loadingOptions {
  display: flex;
  justify-content: center;
} */

.popup {
  opacity: 0;
  display: none;
}

.popup:hover {
  opacity: 1;
  display: block;
}

div:has(.rangePicker)+div div.popup {
  padding: 0;
}

div:has(.rangePicker):hover+div div.popup {
  opacity: 1;
  display: block;
}