/* .popup {
  opacity: 0;
  display: none;
}

.popup:hover {
  opacity: 1;
  display: block;
} */

/* div:has(.rangePicker)+div div.popup {
  padding: 0;
} */

.popup {
  padding: 0;
}

/* div:has(.rangePicker):hover+div div.popup {
  opacity: 1;
  display: block;
} */