.tableContainer {
    width: 100%;
    padding-bottom: 16px;
}

.tableContainer .table thead th,
.tableContainer .table tbody td {
    padding: 16px 8px;
}

.roundIndicator {
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
}

.stateIcon {
    font-size: 36px;
    padding: 4px;
}


.stateIconHidden {
    opacity: 0;
}


.progressBlock {
    position: relative;
}

.normalProgress,
.exceptionProgress {
    position: absolute;
    top: calc(-26px);
    left: 6px;
}

.exceptionProgress svg {
    fill: #f40;
}

.normalProgress svg {
    fill: #4f0;
}

.iconContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}